.bordered {
  border: 1px solid white;
}
.button {
  background-color: lightgreen;
  color: black;
  text-align: center;
  text-decoration: none;
  outline: none;
  padding: 3px 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px #999;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.button:hover {
  background-color: green;
  color: white;
}
.button:active {
  background-color: green;
  color: white;
  box-shadow: 0 1px #666;
  transform: translateY(2px);
}
.button-container {
  background-color: lightgray;
  padding-bottom: 5px;
  padding-top: 5px;
  border: 1px solid black;
  height: 20px;
  width: 100%;

}
.card-background {
  background-image: url("card-620x280.jpg");
  background-blend-mode: lighten;
  background-size: cover;
}
.command-dialog-content {
  background: cornsilk;
  border: 1px solid black;
  height: 20px;
  padding-bottom: 5px;
  padding-top: 5px;
  width: 100%;
}
.command-help-content {
  background: cornsilk;
  margin: 0px;
  padding: 0px;
}
.command-help-table {
  background: cornsilk;
  margin: 0px;
  padding: 0px;
}
.command-input {
  width: 580px;
}
.command-input-container {
}
.command-input-label {
  display: inline-block;
  margin-left: 5px;
  width: 80px;
}
.composer-table {
  background: cornsilk;
  margin: 0px;
  padding: 0px;
}
.composer-table tr td {
  top: 0px;
}
.composer-text {
  display: block;
  background: cornsilk;
  border: 1px solid black;
  font-family: monospace;
  margin: 0px;
  overflow: auto;
}
.console-background {
  background: black;
}
.console-text {
  font-family: monospace;
  white-space: pre;
  color: orange;
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0px;
}
.content-container {
  position: relative;
}
.draggable {
  position: fixed;
  z-index: 10;
  cursor: move;
}
.fanfold-background {
  background-image: url("fanfold-716x528.jpg");
  background-blend-mode: lighten;
  background-size: cover;
}
.fanfold-background-fixed-size {
  background-image: url("fanfold-716x528.jpg");
  background-blend-mode: lighten;
  background-size: 1428px 1056px;
}
.frame-header {
  text-align: center;
  background-color: blue;
  color: white;
  width: 100%;
}
.full-width {
  width: 100%;
}
.left-floater {
  float: left;
}
.machine-table, th, td {
  padding: 2px 5px 2px 5px;
  text-align: left;
}
.printer-background {
  background-image: url("fanfold-716x528.jpg");
  background-blend-mode: lighten;
  background-size: 716px 1056px;
}
.printer-line {
  color: black;
  font-family: monospace;
  left: 0px;
  margin: 0px;
  padding: 0px;
  position: absolute;
  white-space: pre;
}
.printer-text {
  font-family: monospace;
  white-space: pre;
  color: black;
  position: absolute;
  top: 0px;
  left: 48px;
  margin: 0px;
}
.punch-background {
  background: cornsilk;
}
.punch-text {
  font-family: monospace;
  white-space: pre;
  color: black;
  position: absolute;
  top: 15px;
  left: 25px;
  margin: 0px;
}
.reader-background {
  background: cornsilk;
}
.reader-dialog-content {
  background: cornsilk;
  border: 1px solid black;
  height: 20px;
  padding-bottom: 5px;
  padding-top: 5px;
  width: 100%;
}
.reader-input {
  width: 200px;
}
.reader-input-container {
  width: 320px;
}
.reader-input-label {
  display: inline-block;
  margin-left: 5px;
  width: 80px;
}
.reader-text {
  font-family: monospace;
  white-space: pre;
  color: black;
  position: absolute;
  top: 15px;
  left: 25px;
  margin: 0px;
}
.right-floater {
  float: right;
}
.right-justified {
  position: absolute;
  right: 4px;
}
.right-justified-button {
  background-color: white;
  cursor: pointer;
  position: absolute;
  right: 4px;
}
.right-margin {
  margin-right: 5px;
}
.title {
  text-align: center;
  background-color: lightgrey;
  color: black;
  font-weight: bold;
  padding: 10px;
}
.top {
  top: 2px;
}
.zindex-1 {
  z-index: 1;
}
